<nav class="custom-navbar">
    <!-- Logo -->
    <a href="/" class="Logo">
        <h2>RZA</h2>
    </a>


    <!-- Navigation Links -->
    <ul class="navbar">
        <li><a href="/ourzoo" class="OurZooNav">Our Zoo</a></li>
        <li><a href="/planvisit" class="PlanVisitNav">Plan Your Visit</a></li>
        <li><a href="/education" class="EducationNav">Education</a></li>
    </ul>

    <!-- Right-side elements -->
    <div class="right-nav">
        <button class="book-tickets">Book Your Tickets</button>
        <a href="/register" class="icon"><i class="fas fa-user"></i></a> <!-- Account Icon -->
        <a href="/basket" class="icon"><i class="fas fa-shopping-basket"></i></a> <!-- Basket Icon -->
    </div>
</nav>

